html,
body {
	margin: 0;
	padding: 0;
}
body {
	font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #eeeeee;
	color: #333333;
	-webkit-font-smoothing: antialiased;
}
.main-div {
    padding: 50px;
    text-align: center;
}
.main-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background: lightpink;
    padding: 20px 50px;
    vertical-align: middle;
}